<h1><%=@movie_details["Title"]%></h1>
<img src="<%=@movie_details["Poster"] %>">
<ul>
	<li>Year: <%=@movie_details["Year"]%></li>
	<li>Rated: <%=@movie_details["Rated"]%></li>
	<li>Released: <%=@movie_details["Released"]%></li>
	<li>Run Time: <%=@movie_details["Runtime"]%></li>
	<li>Genre: <%=@movie_details["Genre"]%></li>
	<li>Plot Summary: <%=@movie_details["Plot"]%></li>
	<li>IMDB Ratings: <%=@movie_details["imdbRating"]%></li>
	<li>Director: <%=@movie_details["Director"]%></li>
	<li>Actor: <%=@movie_details["Actors"]%></li>
</ul> 
	